.testimonials {
    position: relative;
    background-image: url('../../../assets/testimonial_banner.jpg');
    background-size: cover;
    background-position: center, center;
    height: 400px;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.testimonials .carousel-indicators{
    display: none !important;
}

.testimonials .carousel-inner {
    margin-top: 33px !important;
}